html{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  algin-content: stretch;
  align-items:stretch;
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  border-bottom: 10px solid #000;
  box-shadow: 0px 0px 10px 0px #000;
}

.header-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.header-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.listeSondage {
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #4CAF50; /* Green */
  border:5px solid #18ab29;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.sondage {
  background-color: #92d0fc;
  font-size: 20px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

#logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  border-right: 10px solid #000;
}