html{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  algin-content: stretch;
  align-items:stretch;
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  border-bottom: 10px solid #000;
  box-shadow: 0px 0px 10px 0px #000;
}

.header-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.header-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.listeSondage {
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #0ABDE3;
  border:3px solid black;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
   text-decoration: none;
   margin-right: 10px;
   margin-left: 10px;
   transition-duration: 0.4s;
   border-radius: 8px;
}

.button:hover {
  background-color: #6be5ff;
}

.lien{
  text-decoration: none;
}

.sondage {
  background-color: #2E86DE;
  font-size: 20px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
   border-radius: 8px;
}

.titreSondage { 
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}

.champSondage {
  font-size: 18px;
}

.colle {
  margin-bottom:-8px;
}

.image {
  width: 80%;
  height: 80%;
  border: 3px solid black;
}

#logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  border-right: 10px solid #000;


}

#imglogo{
  max-width: 50%;
  height: auto;
  }

