@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

html{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  algin-content: stretch;
  align-items:stretch;
  font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 100%;
    color :#2E86DE;
    background: #FFFFFF;
}

#content {
    padding: 10px;
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  border-bottom: 10px solid #000;
  background: #FFFFFF;
}

.header img{
  height: 75%;
  padding-left: 50px;
}
.header-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    height: 40%;
    width: 100%;
    background: #FFFFFF;
}

.header-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.header-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

#contentliquid {
    float: left;
    width: 100%;
}

#footer {
    height: 40%;
    width: 100%;
    background: #33FF66;
    clear: both;
}
