html{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:flex-start;
  algin-content: stretch;
  align-items:stretch;

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  border-bottom: 10px solid #000;
  box-shadow: 5px 5px 10px 1px #000;
}

.header-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.header-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

#logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  border-right: 10px solid #000;
}
