/*
 * Reference - https://codepen.io/supah/pen/WwrJpw
 */
html,
bodyl {
	height: 100%;
}
bodyl {
	color: #333;
}
a {
	display: inline-block;
	color: #333;
	text-decoration: none;
}
.blog {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: sticky;
	transform: translateX(-50%);
	z-index: 1;
}

/* container */
.containerl {
	background: linear-gradient(to bottom, #3a404d, #181c26);
	width: auto;
	height: auto;
	border-radius: 5%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: ;
	overflow: hidden;
	max-width: 100%;
}


/* head */
.leaderboard .headl {
	padding: 2em 1em;
	color: snow;
	font-size: 20px;
}
.leaderboard .headl h1 {
	margin-left: 0.5em;
}

/* body */
.leaderboard .bodyl {
	color: snow;
	font-size: 16px;
}
.leaderboard ol {
	counter-reset: number; /* 定義和初始化計數器 */
}
.leaderboard li {
	height: auto;
	width: 200%;
	padding: 16px;
	display: flex;
	justify-content: flex-start;
}
.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number; /* 遞增計數器 */
	content: counter(number) "."; /* 顯示計數器 */
	margin-right: 0.5em;
}
.leaderboard li:nth-child(5) {
	background: #6855fa;
}
.leaderboard li:nth-child(4) {
	background: #574fe0;
}
.leaderboard li:nth-child(3) {
	background: #514dd7;
}
.leaderboard li:nth-child(2) {
	background: #4b4bcd;
}
.leaderboard li:nth-child(1) {
	background: #4448c2;
}